{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    {% comment %} <a href="/books/{{book.pub_date|date:"Y-m-d"}}"> {% endcomment %}
                    <h2>{{ book.name }}</h2>
                    {% comment %} </a> {% endcomment %}
                    <p>Автор: {{ book.author}}</p>
                    <a href="/books/{{book.pub_date|date:"Y-m-d"}}">
                        <p>Дата публикации: {{book.pub_date|date:"Y-m-d"}}</p>  
                    </a>             
                </div>
            {% endfor %}
            
        </div>
        {% if prev %}
            <a class="button button-primary" href="/books/{{prev.pub_date|date:"Y-m-d"}}"><{{prev.pub_date|date:"Y-m-d"}}</a> 
        {% endif %}       
        <a class="button disabled" href=""> | </a>        
        {% if next %}
            <a class="button button-primary" href="/books/{{next.pub_date|date:"Y-m-d"}}">{{next.pub_date|date:"Y-m-d"}}></a>
        {% endif %}
        
    </div>
{% endblock %}